* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
      url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.woff2") format("woff2"),
      url("../fonts/Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
      url("../fonts/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
      url("../fonts/OpenSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.site-logo {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #555252;
  text-transform: uppercase;
  text-decoration: none;
}
header {
  margin-top: 29px;
  margin-bottom: 97px;
}
.page-header a:hover {
  color: #1abc9c;
}
.page-header::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.site-navigation li {
  float: left;
  margin-right: 30px;
}
li:last-child {
  margin-right: 0px;
}
.site-navigation {
  float: right;
  list-style: none;
  margin-top: 8px;
}
.site-navigation {
  font-family: "Open Sans", sans-serif;
}

.site-navigation a {
  color: #0f0101;
  /* font-family: "Open+Sans"; */
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: 0px;
}

.site-navigation li :hover {
  color: #1abc9c;
}

/*FEATURED-SECTION */
.featured-title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  color: #515151;
  text-align: center;
  text-transform: uppercase;
  /* margin-top: 97px; */
  letter-spacing: -1px;
  padding-left: 17px;
  /* } */
}

.featured-title::after {
  content: "";
  display: block;
  width: 162px;
  height: 7px;
  background: #1abc9c;

  margin: auto;
  margin-top: 33px;
  margin-bottom: 92px;
  padding-right: 19px;
}
.featured {
  margin-bottom: 106px;
}
.featured-card{
  max-height: 100%;
  

}
.featured-list2{
  position: relative;
  bottom: 4px;


}

/*  */

.featured-list {
  list-style: none;
  /* width: 255px; */
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.featured-list-item {
  float: left;
  width: 255px;
  margin-bottom: 30px;
  margin-right: 30px;
}
.featured-list-item:nth-child(4) {
  margin-right: 0px;
}
.featured-list-item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.featured-list2 {
  list-style: none;
  text-transform: uppercase;
  /* color: #ffffff; */
}
.featured-list-item2 {
  float: left;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: -0, 5px;
}

.text {
  width: 201px;
  padding-top: 4px;
  padding-left: 13px;
  height: 40px;
  background: #323232;
  font-size: 18px;
  line-height: 32px;
}
.text2 {
  width: 54px;
  text-align: center;
  background: #8c8c8c;
  height: 40px;
  font-size: 18px;
  line-height: 32px;
  padding-top: 4px;
}
.featured-list-item:hover .text {
  background-color: #1abc9c;
}
.featured-list-item:hover .text2 {
  background-color: #7fd9c7;
}

/* SECTION LATEST */
.latest-title {
  /* margin-top: 106px; */
  text-align: center;
  font-size: 48px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-right: 10px;
  padding-bottom: px;
}
.latest-title::after {
  content: "";
  display: block;
  width: 168px;
  height: 7px;
  background: #1abc9c;
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 79px;
}
.latest {
  margin-bottom: 80px;
}
.latest-list {
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
.latest-list-item {
  width: 350px;
  float: left;
  margin-right: 30px;
}
.latest-list-name {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  font-weight: 600;
}
.latest-list-name::after {
  content: "";
  display: block;
  width: 137px;
  height: 3px;
  background: #1abc9c;
  margin-top: 9px;
  margin-bottom: 20px;
}
.latest-list-paragraf {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
button {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  width: 160px;
  height: 51px;
  background: #1abc9c;
  margin-top: 11px;
  /* margin-bottom: 80px; */
}
