* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.site-logo {
  list-style: none;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 300;
  color: #555252;
  text-transform: uppercase;
  text-decoration: none;
}
header {
  margin-top: 27px;
}
.page-header a:hover {
  color: #1abc9c;
}
.page-header::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.site-navigation li {
  float: left;
  margin-right: 28px;
}
li:last-child {
  margin-right: 0px;
}
.site-navigation {
  float: right;
  list-style: none;
  margin-top: 8px;
}

.site-navigation a {
  color: #0f0101;
  font-family: "Open+Sans";
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 11px;
}

.site-navigation li :hover {
  color: #1abc9c;
}

/*FEATURED-SECTION */
.featured-title {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  color: #515151;
  text-align: center;
  text-transform: uppercase;
  margin-top: 97px;
}
.featured-title::after {
  content: "";
  display: block;
  width: 160px;
  height: 7px;
  background: #1abc9c;

  margin: auto;
  margin-top: 32px;
  margin-bottom: 92px;
}

/*  */

.featured-list {
  list-style: none;
  /* width: 255px; */
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.featured-list-item {
  float: left;
  width: 255px;
  margin-bottom: 30px;
  margin-right: 30px;
}
.featured-list-item:nth-child(4) {
  margin-right: 0px;
}
/* .featured-list-item .featured-list-name {
  float: left;
} */
/* .featured-list-name {
  list-style: none;
  float: left;
  height: 40px;
  background: #323232;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 32px;
} */
/* .featured-list-name-cena {
  float: left;
  width: 54px;
  background-color: #8c8c8c;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
} */
.featured-list2 {
  list-style: none;
  text-transform: uppercase;
}
.featured-list-item2 {
  float: left;
}

.text {
  width: 201px;
  padding: top 4px;
  padding-left: 13px;
  height: 40px;
  background: red;
  font-size: 18px;
  line-height: 32px;
}
.text2 {
  width: 54px;
  text-align: center;
  background: #8c8c8c;
  height: 40px;
  font-size: 18px;
  line-height: 32px;
  padding-top: 3px;
}
